{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-content">

            <div class="drank-container col-sm-12">
                <div class="drank col-sm-4"></div>
                <div class="drank col-sm-4">
                    <h1>U bent {{ beverage.name }} aan het drinken</h1>

                    <p>alcohol: {{ beverage.alcohol }}</p>

                    <div class="drank-counter bg-success">U heeft nog {{ drank.amount }} cl</div>

                    <div class="drank-btn btn btn-success">
                        <a href="">Glas is op</a>
                    </div>
                    <div class="drank-btn btn btn-danger">
                        <a href="{{ path('stop_drinking', {'session' : app.request.get('session').id}) }}">Stop met drinken</a>
                    </div>
                </div>
                <div class="drank col-sm-4"></div>
            </div>
            </tbody>
            </table>

        </div>
    </div>

    {#<ul>#}
    {#<li>#}
    {#<a href="{{ path('beverage_new') }}">Create a new beverage</a>#}
    {#</li>#}
    {#</ul>#}
{% endblock %}
